.about{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 100px;
    /* background-color: #f5f5f5; */
    flex-wrap: wrap;
}
.h2, .h4{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
.h2{
    font-size: 36px;
}
.h4 {
  font-size: 22px;
  color: #00bfff;
  margin-bottom: 20px;
}
/* paragraph left side */
.about p{
    margin-top: 2%;
    width: 53%;
    font-size: 17px;
    line-height: 1.7;
    text-align: justify;
    /* color: #333; */
}
/* img right side  */
.about img{
    width: 40%;
    max-width: 400px;
    border-radius: 15px;
    /* box-shadow: 0 4px 15px rgba(0, 0 ,0, 0.2); */
    object-fit: cover;
    
}


@media (max-width: 768px) {
  .h2 {
    font-size: 28px;
  }

  .h4 {
    font-size: 20px;
  }

  .about p {
    font-size: 16px;
  }

  .about img {
    max-width: 380px;
  }
}

/* ===== Mobile Responsive ===== */
@media (max-width: 480px) {
  .h2 {
    font-size: 26px;
  }

  .h4 {
    font-size: 18px;
  }

  .about p {
    font-size: 15px;
  }

  .about img {
    max-width: 300px;
  }
}